# Question 1

In [1]:
a = 0       # this a has global scope
def b():
    global a    # all references to a in c() are to the global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

#Explanation- In the above code, b is defined as the function of the global variable
So function c takes a as a parameter and returns each time with an increament of 2
hence, when we run 
the first b() it will return 2
the second b() will return 4
the third b() will retrun 6
therefore a =6

# Question 2

In [2]:
#2
def fileLength(file):
    try:
        file=open(file)
        contents=file.read()
        file.close()
        print(len(contents))
    except:
        FileNotFoundError()
        print("File "+ file + "not found")
        
# print(">>> fileLength('midterm.py')")
# fileLength('FileLength.txt')

print(">>> fileLength('idterm.py not found') ")

>>> fileLength('idterm.py not found')

# Question 3

In [3]:
class Marsupial(): #class named Marsupial 
    def __init__(self):
        self.contents = [] #creating an empty list to store contents
    
    def put_in_pouch(self,thing):
        self.contents.append(thing) #append to contents
        
    def pouch_contents(self):
        return self.contents #return the contents of the list 
        
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

# Question 3b

In [4]:
#3b
class kangaroo(Marsupial):#subclass of Marsupial that inherits all the Marsupial
    def __init__(self,x,y): #the coordinates x and y of the Kangaroo object,
        Marsupial.__init__(self)
        self.y=y
        self.x=x
    def jump(self,dx,dy):
        self.x = self.x+dx
        self.y = self.y+dy
    def __str__(self):
        return 'I am a kangaroo located at coordinates({},{})'.format(self.x,self.y)
    
k=kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates(0,0)
I am a kangaroo located at coordinates(3,0)

# Question 4

In [5]:
#4
def collatz(x):
    if x==1:
        print(x)
        return
    elif x%2==0:
        print(x)
        collatz(x//2)#using recursion
    else:
        print(x)
        collatz(3*x+1) #using recursion
print(">>> collatz(1) ")        
collatz(1)
print(">>> collatz(10) ")
collatz(10)

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

# Question 5

In [6]:
def binary(n):
    if n == 0:
        return 0 
    else:
        return (n % 2 + 10 * binary(int(n // 2))) #Print out the binary numbers of Integer n

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6

In [8]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        # Initialize the HeadingParser
        super().__init__()
        self.indentation = 0
        self.inside_heading = False

    def handle_starttag(self, tag, attrs):
        # Handle start tags to identify heading tags and set indentation level
        if tag.startswith('h1') and tag[1:].isdigit():
            # Extract the heading level (1, 2, 3, etc.)
            heading_level = int(tag[1])
            self.inside_heading = True
            self.indentation = heading_level - 1
            
        # Handle end tags to reset indentation when exiting a headin
    def handle_endtag(self, tag):
        if self.inside_heading and tag.startswith('h2') and tag[1:].isdigit():
            self.inside_heading = False
            self.indentation = 0
            
        # Handle data to print the heading with the appropriate indentation
    def handle_data(self, data):
        if self.inside_heading:
            print(' ' * self.indentation + data)

with open("w3c.txt") as infile:
        content = infile.read()  
file_name = input("Enter the HTML file name (e.g., w3c.html) ")

# Create HeadingParser instance and feed it with HTML content
hp = HeadingParser()
hp.feed(content)

Enter the HTML file name (e.g., w3c.html) w3c.txt
W3C Mission


Principles

# Question 7

In [8]:
#importing libraries
from urllib.parse import urljoin  
from html.parser import HTMLParser
from urllib.request import urlopen

from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Parser(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_list = []

    def append_list(self):
        return self.url_list

    def handle_starttag(self, tags, attri):
        for head in attri:
            contents = urljoin(self.url, head[1])
            if contents[:4] == 'http': 
                self.url_list.append(contents)
indentation = 0
def webdir(url, distance, indentation):
   

    distance -= 1    
    print(indentation*'  ', url)         

    object = urlopen(url).read().decode()
    column = Parser(url)
    column.feed(object)
    url_link = column.append_list() 
 
    url_list = url_link
    indentation += 4

    for links in url_list:
        if distance < 0 or indentation < 0:
            return 1
        else:
            webdir(links, distance, indentation)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [9]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()

In [10]:
cur.execute("CREATE TABLE CITY_DATA (City text, Country text, Season text, Temperature float, Rainfall float)")
data=[('Mumbai', 'India','Winter',24.8, 5.9),
      ('Mumbai','India','Spring',28.4,16.2),
      ('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),
      ('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),
      ('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),
      ('Cairo','Egypt','Winter',13.6,16.5),
      ('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),
      ('Cairo','Egypt','Fall',22.2,4.5)]
for cities in data:
    cur.execute("INSERT INTO CITY_DATA VALUES (?,?,?,?,?)",cities)
    con.commit()

In [11]:
#a) All the temperature data.
cur.execute('SELECT Temperature FROM CITY_DATA')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [12]:
#b) All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM CITY_DATA')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [13]:
#c) All the records for India.
cur.execute('SELECT * FROM CITY_DATA WHERE Country LIKE "India%"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [14]:
#d) All the Fall records.
cur.execute('SELECT * FROM CITY_DATA WHERE Season LIKE "Fall%"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [15]:
 #e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City, Country, Season FROM CITY_DATA WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [16]:
#f) The city and country for which the average Fall temperature is above 20 degrees,in increasing temperature order.
cur.execute('SELECT City, Country,Temperature FROM CITY_DATA WHERE Temperature > 20 ORDER BY Temperature DESC')
cur.fetchall()

[('Mumbai', 'India', 28.4),
 ('Mumbai', 'India', 27.9),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.6),
 ('Mumbai', 'India', 24.8),
 ('Cairo', 'Egypt', 22.2),
 ('Cairo', 'Egypt', 20.7)]

In [17]:
#g) The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) AS RF, City FROM CITY_DATA WHERE City LIKE "Cairo" GROUP BY City')
cur.fetchall()

[(27.6, 'Cairo')]

In [18]:
#h) The total rainfall for each season.
cur.execute('SELECT SUM(Rainfall),Season FROM CITY_DATA GROUP BY Season')
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

# Question 9

In [19]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_words = [a.upper() for a in words] #list the words in uppercase
print (list_words)
list_words = [b.lower() for b in words]  #list the words in lowecase
print (list_words)
list_words = [len(c) for c in words] #the list of lengths of words in list words).
print (list_words)
list_words = [(d.upper(),d.lower(),len(d)) for d in words]  #list containing the word in uppercase and lowercase and the length of the word
print (list_words)
list_words = [e for e in words if len(e)>=4] #list of words contanining 4 or more characters
print (list_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']